/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  General styles */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* General heading styles home page */ 
h1, h2 {
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3vw;
}

h4, h6 {
  font-family: Lato, sans-serif;
  letter-spacing: 2px;
  font-size:1vw;
}

/* Header section */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 999;
  box-shadow: 0 2px 2px #3a3a3a;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  align-items: baseline;
  margin-top: 50px;
}

header a {
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
  width: fit-content;
  z-index: 999;
}

#menu {
  letter-spacing: 4px;
  font-size: 110%;
  list-style-type: none;
  z-index: 999;
}

#menu > li {
  margin-bottom: 1em;
  font-size: 1rem;
  z-index: 999;
}

.active {
  border-bottom: 1px solid #003135;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  width: 100%;
  left: 0;
  display: none;
  box-shadow: 0 2px 2px #003135;
  padding: 0 1rem;
  top: 100%;
  width: fit-content;
}
  
/* Nav toggle - dropdown*/

#nav-toggle:checked~nav {
  display: block;
  z-index: 999;
}

#nav-toggle {
  z-index: 1000;
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
  z-index: 1000;
  width: fit-content;
}

/* Main Content */
main {
  /* Enlarge main element take up any surplus space to push footer down */
  flex: 1 0 auto;
/* Top margin at the top push content from being covered by the header */
  margin-top: 52px;
/* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
}

/* --------Home page - all components ------------*/

/* Hero logo graphic */
.NFI-graphic {
  position: relative;
  background: url("assets/logos/output-onlinepngtools.png") no-repeat;
  justify-content: center;
  display: flex;
  z-index: 999;
}

.NFI-graphic img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 110px;
  width: 80px;
  height: 80px;
}

/* Hero section headings */
.main-titles-content {
  display: flex;
  box-sizing: border-box;
  padding: 0px;
  position: absolute;
  z-index: 999;
  font-family: Libre, sans-serif;
  text-align: center; 
  color: #FFFFFF;
  align-items: center;
  margin: auto;
  width: 350px;
  text-align: center;
}

.main-titles-content h1 {
  font-size: 24px;
  z-index: 1000;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  margin-top: 500px;
  align-items: center;
  margin-left: 80px;
}

.main-titles-content h6 {
  font-size: 12px;
  z-index: 1000;
  text-align: center;
  position: absolute;
  color: #FFFFFF;
  margin-top: 600px;
  margin-left: 80px;
}

/* Hero (home page) full background image & call-to-action button */
.containerhero {
  position: relative;
  width: 100%;
}

.containerhero img {
  display: flex;
  align-items: center;
  background: url("assets/images/neural.network.cover.f.jpg") no-repeat;
  z-index: -1;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 170vh;
  width: 180vw;
  flex-direction: column;
  justify-content: center;
}

/* 'Discover' call-to-action button section */
.containerhero .btn {
  position: absolute;
  top: 50%;
  left: 20%;
  background-color: #3EB9BB;
  color: white;
  font-size: 16px;
  padding: 12px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 15px;
  align-items: center;
}

.containerhero .btn:hover {
  background-color: #003135;
}

/* Footer Section */

/* Social networks */
#social-networks {
  text-align: center;
  padding: 0px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  z-index: 999;
  color: #FFFFFF;
}

#social-networks i {
  font-size: 100%;
  padding: 5%;
  color: #ffffff;
  z-index: 999;
  margin-top: 32px;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 0;
  margin-right: 15px;
}

/* Footer compliance bar */
#fblockcolor {
  background-color: #003135;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  margin-top: 20px;
  border: 0;
  z-index: -1;
  height: 100px;
  width: 100vw;
  margin-bottom: 0px;
}

/* Footer compliance text */
.compliancetext > p {
  color: #ffff;
  position: absolute;
  font-size: 6px;
  display: flex;
  margin-top: 80px;
  padding: 0px;
  z-index: 999;
  margin-left: 80px;
  text-align: justify; 
}

/* ------------ Products & Services page - all content ---------------- */

/* Company Top-left logo placement */
#toplogo {
  align-items: center;
  margin-right: 70px;
  margin-top: 0px;
}

#toplogo img {
  width: 70%;
  height: 70%;
  position: absolute;
  background-color: #F2F3F4;
}

/* Products column section */
#product-hero {
  background-color: #F2F3F4;
  text-align: left;
  color: #22282A;
  z-index: 999;
  column-rule-width: 1px;
  width: 100%;
  margin-left: 30px;
  margin-top: 50px;
  margin-right: 30px;
}

#product-hero > h2 {
  text-align: left;
  color: #22282A;
  font-size: 16px;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  margin-left: 40px;
  margin-right: 20px;
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product-column {
  text-align: left;
  color: #22282A;
  margin-left: 10px;
  margin-right: 10px;
}

.product-column > h6 {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  font-size: 12px;
  color: #22282A;
  font-size: 10px;
  margin-left: 30px;
  margin-right: 45px;
  padding-right: 8px;
}

.product-column > p {
  text-align: left;
  width: 100%;
  margin-top: 10px;
  padding: 0;
  font-size: 10px;
  color: #22282A;
  line-height: 12px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

#products-list-row > li {
  text-align: left;
  color: #22282A;
  margin-left: 50px;
  margin-right: 30px;
  font-size: 10px;
  float: left;
  width: 100%;
  padding: 1px;
  height: 100%;
  font-size: 12px;
  }


 /* Services section */
#services-hero {
  background-color: #F2F3F4;
  text-align: justify;
  color: #22282A;
  z-index: 999;
  column-rule-width: 1px;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

#services-hero > h2 {
  text-align: left;
  color: #22282A;
  font-size: 16px;
  width: 100%;
  margin-top: 30px;
  padding: 0;
  margin-left: 20px;
  margin-left: 40px;
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services-column  {
  text-align: left;
  color: #22282A;
  padding: 20px 20px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 30px;
}

.services-column > h4 {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  font-size: 10px;
  color: #22282A;
  margin-bottom: 30px;
}

.services-column > p {
  text-align: left;
  margin-top: 10px;
  padding: 0;
  font-size: 10px;
  color: #22282A;
  text-align: left;
  width: 100%;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  margin-left: 0px;
  margin-right: 20px;
}

.services-column hr {
  font-size: 25px;
}

/* Testimonial section on products-services page */

/* Testimony image */
#testimony-hero {
  display: flex;
  background-repeat: no-repeat;
}

#testimony-hero img {
  display: flex;
  background-repeat: no-repeat;
  background: url("assets/images/testimony.image.png");
  width: 100%;
  height: 100%;
}

/* ---------------- Contact us page ----------------------- */
#toplogo {
  align-items: center;
  margin-right: 950px;
}

#toplogo img {
  width:60px;
  height: 70px;
  position: absolute;
  margin-top: 20px;
}

/* Section 1 - right hand side */

/* Contact our team form */
#Container-contact {
  display: flex;
  justify-content:space-between;
  margin-top: 25px;
  margin: 20px;
  padding: 15px;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

#contact-our-team {
  border-radius: 5px;
  width: fit-content;
  background-color: #f2f2f2;
  padding: 70px 15% 0 15%;
  background-position: 60%;
  margin: 40px;
  padding: 30px;
  box-sizing: border-box;
  flex: 1;
}

#contact-our-team > h2 {
  text-align: left;
  color: #22282A;
  margin-top: 15px;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  flex: 1;
  text-align: center;
}

body {font-family: Lato, sans-serif;}
* {box-sizing: border-box;}

.input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin: 11px 0;
  resize: vertical;
  box-sizing: border-box;
  max-height: 95px;
}

.input[type=submit] {
  background-color: #22282A;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.input[type=submit]:hover {
  background-color: #22282A;
  color: #f2f2f2;
}

/* Subscription form for newsletter section */

#subscribe-container {
  font-family: Lato;
  position: relative;
  margin-top: 20px;
  background: url("assets/images/subscribe.image.jpg") no-repeat;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 0px;
}

#subscribe-background {
  z-index: -1;
  display: flex;
  padding: 0px;
}

#subscribe-background img {
  z-index: -1;
  width: 300vw;
  height: 100%;
  display: flex;
  padding: 0px;
  margin: 0px;
}

#subscribe-form >h6 > p{
  width: 80%;
  padding: 15px;
  margin-left: 5px;
  border: none;
  background: #f1f1f1;
  color: #22282A;
  z-index: 1000;
  font-size: 10vw;
}

#subscribe-form {
  padding: 18px 24px;
  cursor: pointer;
  width: 80%;
  z-index: 999;
  padding: 20px;
  margin-right: 500px;
  border: none;
  background: #f1f1f1;
}

#subscribe-form button {
  background-color: #003135;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 40%;
  font-size: 10px;
}


/* Communication options graphics */
#communication-container {
  justify-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: 100px;
}

#comms-options {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 30%;
  margin-top: 0px;
  margin-left: 10px;
}

#comms-options img {
  flex-direction: row;
  line-height: 1em;
  gap: 7rem;
  width: 71%;
  height: 50%;
  bottom: -7000px;
}


/* Google maps integration - box 4 */
#google-map {
  position: relative;
  display: flex;
  margin-right: 0px;
  flex-direction: column;
  padding: 0px;
  height: 600px;
  width: 100%;
  align-items: center;
  margin-left:20px;
  margin-bottom: 190px;
  align-items: center;
  top: -160px;
}

#google-map iframe {
  position: absolute;
  padding: 0px;
  flex-direction: column;
  display: flex;
  height: 600px;
  width: 100%;
  margin-bottom: 190px;
  align-items: center;
  top: -160px;
}

#fblockcolor{
  height: 12vh;
  width: 104vw;
  }

/* -- Contact page ends with footer same for home page & contact pages -- */

/* End of content for all web pages */


/* Media query section for all device sizes */

/* ------- Media query mobile sizes - (min-device-width: 320px and up) -------*/
@media only screen and (max-width: 500px) {
 .services-column p {
  font-size: 10px;
 }
}

/* ------ Media query: large or landscape phones (576px and up to 768px) ------*/
@media screen and (min-width: 576px) {


#toplogo {
  margin-right: 70px;
  align-items: center;
  width: 50%;
  height: 50%;
}
#toplogo img {
  margin-right: 70px;
  align-items: center;
  width: 50%;
  height: 50%;
}

#communication-container {
  order: 3;
  display: flex;
  margin-right: 0px;
  margin-top: 0px;
  justify-content: center;
  margin-bottom: 8000px;
}

#comms-options {
  width: 60%;
  height: 60%;
  align-items: center;
}
#comms-options img {
  width: 60%;
  height: 60%;
  margin-left: 0px;
}
}

/* ----- Media query: tablets and larger (768px and up to 992px) --------*/
@media screen and (min-width: 768px) {

/* Home page */
/* Stylised brain graphic */
.NFI-graphic {
  position: relative;
  justify-content: center;
  display: flex;
  z-index: 999;
}

.NFI-graphic img {
  position: absolute;
  margin-left: 90px;
  margin-right: auto;
  margin-top: 550px;
  width: 50%;
  height: 50%;
}

/*  Header */  
nav {
  display: block; 
  position: relative;
  box-shadow: none;
  width: fit-content;
  padding-right: 1rem;
  }

  #menu {
  display: flex;
  width: fit-content;
  }

  #menu > li {
  padding-left: 1rem;
  width: fit-content;
  }
  
  .nav-toggle-label {
  display: none;
  width: fit-content;
  }


#containerhero {
  background-size: cover;
}
#containerhero img {
  background-size: cover;
  margin-top: 0px;
}

.main-titles-content {
  align-items: center;
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;
  height: 100%;
}

.main-titles-content >h1 {
  font-size: 4vw;
  text-align: center;
}

.main-titles-content >h6 {
  font-size: 2vw;
  text-align: center;
}

body {
  font-size: 18px;
}

.containerhero .btn {
  position: absolute;
  background-color: #3EB9BB;
  color: white;
  font-size: 21px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 200px;
  width: 250px;
  height: 70px;
}

/* Main content */
main {
  /* Push the main content down to accomodate the larger header */
  margin-top: 78px;
  }

/* Product & Services page */
#toplogo {
  align-items: center;
  justify-content: center;
  margin-right: 1600px;
  }
  
  #toplogo img {
  margin-right: 700px;
  align-items: center;
  }

.services-column h4 {
  font-size: 16px;
}

.services-column p {
  font-size: 12px;
  line-height: 18px;
}

/* Contact page */

/* contact our team form */
#Container-contact {
  display: flex;
  margin-top: 25px;
  order: 1;
  flex-direction: column;
}

#contact-our-team {
  width: 80vw;
  height: 300vh;
  order: 1;
}

.input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin: 11px 0;
  resize: vertical;
  box-sizing: border-box;
  max-height: 130px;
}

.input[type=submit] {
  background-color: #22282A;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.input[type=submit]:hover {
  background-color: #22282A;
  color: #f2f2f2;
}

#communication-container {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  margin-right: 100px;
  padding: 0px;
}

#comms-options {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  width: 30%;
  height: 30%;
  margin-top: 0px;
  margin-left: 10px;
}

#comms-options img {
  flex-direction: row;
  line-height: 1em;
  gap: 7rem;
  width: 71%;
  height: 50%;
  padding: 0px;
}


body {font-family: Lato, sans-serif;}
* {box-sizing: border-box;}


/* Footer section */
#fblockcolor{
  height: 150px;
  width: 106vw;
  }

.compliancetext {
  margin-left: 35px;
  margin-top: 100px;
}
.compliancetext > p {
  font-size: 9px;
  text-align: center;
  letter-spacing: 2px;
  margin-top: 100px;
  z-index: 999;
}

/* Google map */
#google-map {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 100%;
  z-index: -1;
  order: 4;
  
}

#google-map iframe {
  position: absolute;
  flex-direction: column;
  display: flex;
  height: 500px;
  width: 100%;
  z-index: -1;
}
}

/* ------- Larger devices (laptops & desktops) larger (width 922px and up) --------- */
@media screen and (min-width: 922px) {

/* Main content */
main {
/* Push the main content down to accomodate the larger header */
  margin-top: 85px;
}

/*  Header */  
nav {
  display: block; 
  position: relative;
  box-shadow: none;
  width: fit-content;
  padding-right: 1rem;
}
#menu {
  letter-spacing: 4px;
  font-size: 110%;
  list-style-type: none;
  z-index: 999;
  display: flex;
  width: fit-content;
}

#menu > li {
  margin-bottom: 1em;
  font-size: 1rem;
  z-index: 999;
}


#menu > li {
  padding-left: 1rem;
  width: fit-content;
}
 
.nav-toggle-label {
  display: none;
  width: fit-content;
}

/* Menu */ 
#menu a:hover {
    border-bottom: 1px solid;
}

body {
  font-size: 19px;
}
}

/* ---------- Larger devices (laptops & desktops) landscape -larger (width 1024px and up) --------*/
@media screen and (min-width: 1024px) {

/* Main content */
main {
  /* Push the main content down to accomodate the larger header */
  margin-top: 150px;
}

 /* Home page */
.containerhero {
  position: relative;
}

.containerhero img {
  display: flex;
  align-items: center;
  background: url("assets/images/neural.network.cover.f.jpg") no-repeat;
  width: 150%;
  height: 100%;
}

/* Homepage main titles */
.main-titles-content {
  align-items: center;
  margin-top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
}
    
.main-titles-content >h1 {
  font-size: 4vw;
  text-align: center;
  margin-top: 400px;
  left: 18%;
}
    
.main-titles-content >h6 {
  font-size: 1vw;
  text-align: center;
  margin-top: 700px;
  left: 35%;
}
    
/* Discover button */
.containerhero .btn {
  position: absolute;
  background-color: #3EB9BB;
  color: white;
  font-size: 40px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin-top: 200px;
  height: 7vh;
  width: 11vw;
  left: 49%;
}
  
/* Brain graphic */
.NFI-graphic {
  position: relative;
  justify-content: center;
  align-items: center;
  display: flex;
  z-index: 999;
}
  
.NFI-graphic img {
  position: absolute;
  margin-left: 10%;
  margin-right: auto;
  margin-top: 30%;
  width: 4vw;
  height: 8vh;
}

/* Products-services page components */
#toplogo img {
  width: 3vw;
  height: 6.5vh;
  position: absolute;
  background-color: #F2F3F4;
  margin-top: 90px;
}

#product-hero {
  z-index: -1;
}

#product-hero {
  background-color: #F2F3F4;
  text-align: left;
  color: #22282A;
  z-index: 999;
  column-rule-width: 10px;
  width: 100%;
  margin-left: 30px;
  margin-top: 100px;
  margin-right: 30px;
}

#product-hero > h2 {
  text-align: left;
  color: #22282A;
  font-size: 2vw;
  width: 100%;
  margin-top: 24px;
  padding: 0;
  margin-left: 40px;
  margin-right: 20px;
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.product-column {
  text-align: left;
  color: #22282A;
  margin-left: 10px;
  margin-right: 10px;
}

.product-column > h6 {
  text-align: left;
  width: 100%;
  margin-top: 22px;
  padding: 0;
  font-size: 1.2vw;
  color: #22282A;
  margin-left: 30px;
  margin-right: 45px;
  padding-right: 8px;
}

.product-column > p {
  text-align: left;
  width: 100%;
  margin-top: 15px;
  padding: 0;
  font-size: 1.2vw;
  color: #22282A;
  line-height: 12px;
  margin-bottom: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

#products-list-row > li {
  text-align: left;
  color: #22282A;
  margin-left: 50px;
  margin-right: 30px;
  font-size: 1vw;
  float: left;
  width: 100%;
  padding: 1px;
  height: 100%;
  margin-top: 40px;
  }


 /* Services section */
#services-hero {
  background-color: #F2F3F4;
  text-align: justify;
  color: #22282A;
  z-index: 999;
  column-rule-width: 10px;
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
}

#services-hero > h2 {
  text-align: left;
  color: #22282A;
  font-size: 2vw;
  width: 100%;
  margin-top: 30px;
  padding: 0;
  margin-left: 20px;
  margin-left: 40px;
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.services-column  {
  text-align: left;
  color: #22282A;
  padding: 20px 20px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 30px;
}

.services-column > h4 {
  text-align: left;
  width: 100%;
  margin-top: 20px;
  padding: 0;
  font-size: 1.2vw;
  color: #22282A;
  margin-bottom: 45px;
  font-size: 1.2vw;
  margin-top: 45px;
}

.services-column > p {
  text-align: left;
  margin-top: 20px;
  padding: 0;
  font-size: 1.2vw;
  color: #22282A;
  text-align: left;
  width: 100%;
  padding: 0;
  line-height: 90px;
  margin-left: 0px;
  margin-right: 20px;
}

.services-column hr {
  font-size: 25px;
}


/* Contact us form */
#Container-contact {
  width: 10vw;
  height: 40vh;
  order: 1;
  margin-top: 100px;
  margin-left: 300px;
}

#contact-our-team {
  width: 10vw;
  height: 40vh;
  order: 1;
  resize: both;
  overflow: auto;
}

#contact-form {
  width: 10vw;
  height: 40vh;
  order: 1;
  resize: both;
  overflow: auto;
}

/* Newsletter background & form */
#subscribe-container {
  width: 100%;
  height: 80%;
  order: 2;
  margin-left: 300px;
  margin-top: 100px;
}

#subscribe-background {
  width: fit-content;
  height: fit-content;
  order: 2;
}

#subscribe-background img {
  width: fit-content;
  height: fit-content;
  order: 2;
}

#subscribe-form {
  width: fit-content;
  order: 2;
}

/* Communication row */
#communication-container {
  width: 20vw;
  height: 20vh;
  margin-top: 0px;
}

#comms-options {
  width: 20vw;
  height: 20vh;
  margin-top: 0px;
  margin-left: 10px;
}

#comms-options img {
  width: 20vw;
  height: 20vh;
  padding: 0px;
}

/* Footer*/
.compliancetext {
  margin-left: 35px;
  margin-top: 100px;
}

.compliancetext > p {
  font-size: 13px;
  text-align: center;
  letter-spacing: 17px;
  margin-left: 1600px;
  margin-top: 340px;
  z-index: 999;
}

#fblockcolor{
  height: 400px;
  width: 100vw;
}

#social-networks i {
  font-size: 85px;
  margin-top: 120px;
}
}
