/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

/*  General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
/* Asterisk wildcard selector is used to over ride default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}   
 /* Heading styles home page */ 
h1, h2 {
    font-family: Libre, sans-serif;
    text-align: center;
    text-transform: initial;
    letter-spacing: 2px;
    color: #ffff;
  }

h4, h6, p {
    font-family: Lato, sans-serif;
    text-align: center;
    text-transform: lowercase;
    letter-spacing: 2px;
    color: #ffff;
}
/* Main section*/
/* Enlarge main element take up any surplus space to push footer down */
Main {
flex: 1 0 auto;
  margin-top: 47px;
  /* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
   }

   .hero-image {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background: url("../assets/images/freepik-cover-neural.jpg") no-repeat center center/cover;
    height: 100vh;
/* Position and center the image to scale nicely on all screens */
    align-self: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 1;  
  }
  .responsive {
    width: 100%;
    height: auto;
  }
  
    
/* Hero text in middle of the image */
.hero-text { 
  font-size: 130%;
  position: absolute;
  bottom: 30px;
  width: 80%;
  min-height: 200px;
  padding-top: 40px;
  padding-left: 10px;
}

 /* Discover call-to-action button section */
 .d-call-to-action {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #501336;    
  background-color: #e5e7e9;
  text-align: center;
  cursor: pointer;
} 
.d-call-to-action button:hover {
  background-color: #555;
  color: white;
}
}

/* Navbar hamburger style with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
}
/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
#menu {
    letter-spacing: 4px;
    font-size: 110%;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1em;
}





/* Products & Services section */


/* Sign up form */

/* Newsletter sign-up */

/* Google maps integration */


/* Social networks */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}
#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #3a3a3a;
}

/* Footer compliance bar */
#footerBlocksBottom {
  background-color: #003135;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  padding: 0;
}
/* Footer compliance text */
#colouredbar  {
  color: #ffff;
  position: relative;
  b
}
/* Media query scetion for all device sizes */

/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
.footerbar {
  position: centered; 
  width:100%;
  margin:0 auto;
      }

      .hero-image {

      }

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
}
.hero-image {
  column-count: 2;
  column-gap: 0;
}

  /* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
}

/*  Navigation */  
nav {
  display: block; 
  position: relative;
  box-shadow: none;
  width: fit-content;
  padding-right: 1rem;
  }

  #menu {
  display: flex;
  }

  #menu > li {
  padding-left: 1rem;
  }

  .nav-toggle-label {
    display: none;
    }
  
   /* Logo section */ 
    .logo {
      position: relative;
      line-height: 75px;
      margin: 0 0.5rem;
      }
    
   /* Main content */
   main {
    
  
  }


/* Larger devices (laptops & desktops) larger (992px and up) */
@media screen and (min-width: 992px) {
  #menu a:hover{
      border-bottom: 1px solid #3a3a3a;
      }

  .footerbar  {
    padding: 16px;
        font: 16px / 1.5 Lato, sans-serif;
        text-align: center;
        color: #FFFFFF;
      }
    }
      /* Larger devices (laptops & desktops) larger (1,200px and up) */
@media screen and (min-width: 1200px) {
#colouredbar {

}
}
