/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*  General styles */
body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

/* General heading styles home page */ 
h1, h2 {
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size:3vw;
}

h4, h6 {
  font-family: Lato, sans-serif;
  letter-spacing: 2px;
  font-size:1vw;
}


/* Header section */
header {
  background-color: none;
  padding: 0 1rem;
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: 0 2px 2px #212a31;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header > a {
  text-decoration: none;
  color: inherit;
  z-index: 1000;
}

#menu {
  letter-spacing: 4px;
  font-size: 100%;
  list-style-type: none;
  z-index: 1000;
  color: #003135;
}

#menu > li {
  margin-bottom: 1em;
  z-index: 1000;
  color: #003135;
}

.active {
  border-bottom: 1px solid #f1f1f1;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  text-align: right;
  background-color: none;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  display: none;
  top: 100%;
  box-shadow: 0 2px 2px #FFFFFF;
}
  
/* Nav toggle - dropdown*/
#nav-toggle:checked~nav {
  display: block;
  color: #003135;
  z-index: 999;
}

#nav-toggle {
  z-index: 999;
  color: #003135;
}

.nav-toggle-label {
  font-size: 2rem;
  color: #003135;
  z-index: 999;
}

/* Main Content */
main {
  /* Enlarge main element take up any surplus space to push footer down */
  flex: 1 0 auto;
/* Add margin at the top to prevent content from being covered by the header */
  margin-top: 45px;
/* Enable flex properties for child elements */
  display: flex;
  flex-direction: column;
}

/* Main section - home page*/

/* Hero logo grpahic */
.NFI-graphic {
  background-color: none;
  position: relative;
  background: url("../logos/output-onlinepngtools.png" class="responsive") no-repeat;
  justify-content: center;
  display: flex;
  z-index: 999;
}

.NFI-graphic img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
  width: 80px;
  height: 80px;
}
/* Hero section titles */

.hero-content {
  display: flex;
  margin-top: 0px;
  box-sizing: border-box;
  padding: 0px;
  color: none;
  position: relative;
  z-index: 999;
  font-family: Libre, sans-serif;
  margin-top: 0px;
  text-align: center; 
  font-size: 160vw;
}

.main-titles-content {
  margin-top: 0px;
  text-align: center; 
  font-size: 160vw;
}

.hero-title > h1 {
  font-size: 3rem;
  margin-left: 30px;
  z-index: 1000;
  padding: 0;
  text-align: center;
  font-size: 100vw;
  margin-top: 100px;
}

.hero-subtitle > h6 {
  font-size: 2rem;
  z-index: 1000;
  margin: left 30px;;
  padding: 0;
  text-align: center;
  font-size: 100vw;
  margin-top: 100px;
}

/* Hero (home page) full background image & call-to-action button */
.containerhero {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.containerhero img {
  display: flex;
  align-items: center;
  background: url("assets/images/neural.network.cover.f.jpg") no-repeat;
  z-index: -1;
  margin-top: 0px;
  background-size: cover;
  margin-left: -20px;
  width: 200vw;
  padding-top: 0;
}


/* Position and center the image to scale -all devices */
.responsive {
  object-fit: cover;
}


/* Discover call-to-action button section */
.containerhero .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #003135;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.containerhero .btn:hover {
  background-color: #003135;
}


/* Products & Services page - all content */

/* Products column section */
#product-hero {
  background-color: #F2F3F4;
  text-align: left;
  color: #22282A;
  z-index: 999;
  column-rule-width: 1px;
  width: 90%;
  margin: 20px auto;
}

#product-hero > h2 {
  text-align: left;
  color: #22282A;
  font-size: 20px;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  margin-left: 20px;
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2vw;
}

.product-column {
  text-align: left;
  color: #22282A;
  padding: 0 20px;
  margin-bottom: 20px;
}

.product-column > h6 {
  text-align: left;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  font-size: 12px;
  color: #22282A;
  font-size: 1vw;
  line-height: 80px;
}

.product-column > p {
  text-align: left;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  font-size: 12px;
  color: #22282A;
  font-size: 1vw;
  line-height: 80px;
}

#products-list-row > li {
  text-align: left;
  color: #22282A;
  margin-left: 50px;
  font-size: 10px;
  float: left;
  width: 100%;
  padding: 1px;
  height: 100%;
  font-size: 1vw;
  }

  .product-column hr {
    border-top: 1px;
    color: none;
    margin: 5px 0;
  }
 /* Services section */

#services-hero {
  background-color: #F2F3F4;
  text-align: left;
  color: #22282A;
  z-index: 999;
  column-rule-width: 1px;
  width: 90%;
  margin: 20px auto;
  margin-left: 170px;
  padding: 1px;
  flex-direction: column;
}


#services-hero > h2 {
  text-align: left;
  color: #22282A;
  font-size: 20px;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  margin-left: 20px;
  font-family: Libre, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 2vw;
}

.services-column  {
  text-align: left;
  color: #22282A;
  padding: 20px 20px;
  line-height: 20px;
  margin-bottom: 20px;
  order: 1;
}

.services-column > h4 {
  text-align: left;
  width: 100%;
  margin-top: 50px;
  padding: 0;
  font-size: 12px;
  color: #22282A;
  font-size: 1vw;
}

.services-column > p {
  text-align: left;
  color: #22282A;
  margin: 20px 20px;
  padding: 0;
  width: 100%;
  font-size: 1vw;
  line-height: 80px;
}

.services-column > hr {
  border-top: 1px;
  color: none;
  margin: 5px 0;
}

/* Company Top-left logo placement for products & contact pages */
#toplogo {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: #F2F3F4;
}
.small-logo img {
  position: relative;
  width: 150px;
  float:left;
  margin-top:16px;
  cursor: pointer;
}

/* Testimonial section on products-services page */

/* Testimony image  */
#testimony-hero {
  background-color: none;
  max-height: auto;
  display: flex;
  background-repeat: no-repeat;
  align-items: right;
  justify-content: right;
  flex-direction: column;
}

#testimony-hero img {
  background-color: none;
  max-width: 100%;
  display: flex;
  background-position: right;
  background-repeat: no-repeat;
  background: url("../assets/images/testimony image.png");
  height: auto;
  align-items: right;
  justify-content: right;
  float: right;
  order: 2;
}

/* Contact page - container with 4 boxes*/

/* Contact out team form - box 1 */
#Container-contact {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-between;
  background-color: none;
}

.contact-our-team {
  border-radius: 5px;
  max-width: 600px;
  background-color: #f2f2f2;
  padding: 20px 10% 0 10%;
  background-position: 50%;
  margin: 80px;
  padding: 80px;
  box-sizing: border-box;
  resize: vertical;
  flex: 1;
  position: fixed;
  order: 1;
}

.contact-our-team > h2 {
  text-align: left;
  color: #22282A;
  margin-top: 50px;
  padding: 0;
  font-size: 24px;
  box-sizing: border-box;
  flex: 1;
  text-align: left;
}

body {font-family: Lato, sans-serif;}
* {box-sizing: border-box;}

.input[type=text], textarea {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin: 11px 0;
  resize: vertical;
  box-sizing: border-box;
}

.input[type=submit] {
  background-color: #22282A;
  color: #FFFFFF;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
}

.input[type=submit]:hover {
  background-color: #22282A;
  color: #f2f2f2;
}

/* Subscription section  - box 2 */

#subscribe-container {
  font-family: Lato;
  line-height: none;
  position: relative;
  margin: 20px;
  max-width: 300px;
  padding: 14px;
  background-color: none;
  padding-top: 10px;
  background: url("../images/subscribe.image.jpg") no-repeat;
  order: 2;
  display: flex;
  flex-flow: row wrap;
}

/* background image for subscription form */
#subscribe-container img {
  z-index: -1;
  background-image: center;
}


/* Overlay subscription form */  
#subscribe-form > p {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  color: #22282A;
  z-index: 1000;
}

#subscribe-form > h6 {
  color:  #f1f1f1; 
  z-index: 999;
}

#subscribe-form {
  padding: 16px 20px;
  cursor: pointer;
  width: 80%;
  z-index: 999;
  width: 80%;
  padding: 20px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

#sunscribe-form button {
  background-color: #22282A;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* Communication options graphics - box 3 */
#comms-options {
  width: 100%;
  line-height: 1em;
  order: 3;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}
#comms-options > h2 {
  text-align: center;
  color: #22282A;
  font-size: 20px;
  width: 100%;
  margin-top: 0;
  padding: 0;
  margin-left: 20px;
  font-size: 14px;
}

#communication-row img {
  width: 50%;
  line-height: 1em;
  padding: 10px;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#communication-row {
  line-height: 0;
}


/* Google maps integration - box 4 */
#google-map {
  padding-bottom: 50%;
  position: relative;
  padding-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 90px;
  order: 4;
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
}

.google-map iframe {
  position: relative;
  padding-top: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Footer Section */

/* Social networks */
#social-networks {
  text-align: center;
  padding: 5px 0;
  display: flex;
  bottom: 40px;
  justify-content: space-evenly;
  list-style-type: none;
  z-index: 999;
}

#social-networks i {
  font-size: 160%;
  padding: 10%;
  color: #ffffff;
  z-index: 999;
}

/* Footer compliance bar */
#footerblockcolor {
  background-color: #003135;
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border: 0;
  position: fixed;
  z-index: -1;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 250px;
  display: block;
  width: 100vw;
}

/* Footer compliance text */
.footertext > p {
  color: #ffff;
  position: absolute;
  font-size: 10px;
  text-align: center;
  justify-content: center;
  display: flex;
  vertical-align: bottom;
  margin: 0;
}

.bottom-nav-row {
  width: 100%;
  font-size:0.8em;
  margin:1% 0%;
  padding:0.6% 0%;
  color: #f1f1f1;
}
.bottom-nav-row a:hover {
  color: #f1f1f1;
}
.bottom-nav-row ul {
  width:100%;
}

.bottom-nav-row ul li{
  display:inline-block;
  margin:0px 30px;
}
  
.bottom-nav-row a i{
  font-size:2em;
  margin:0% 1%;
}

/* End of all pages */


/* Media query section for all device sizes */

/* Responsive Mobile Sizes */
@media only screen and (max-width: 500px) {
#footerblockcolor {
  position: relative; 
  width:100%;
  margin:0 auto;
  z-index: -1;
  background-size: cover;
  color: #003135;
}
.services-column {
  columns: 0;
  column-gap: 3rem;
}
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

#communication-row {
  column-count: 2;
  column-gap: 0;
}

.services-column {
  columns: 0;
  column-gap: 3rem;
}
#contact-out-team, input[type=text], textarea,  
input[type=submit], input[type=submit]:hover {
  flex:100%;
  min-width: 100%;
}
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

#hero-logo img {
  left: 0;
  transform: none;
}
#hero-image {
  background-size: cover;
}

body {
  font-size: 18px;
}

#footerblockcolor {
  position: relative; 
  width:100%;
  margin:0 auto;
  z-index: -1;
  background-size: cover;
  color: #003135;
}

/*  Navigation bar */  
nav {
  display: block; 
  position: relative;
  box-shadow: none;
  width: fit-content;
  padding-right: 1rem;
}

#menu {
  display: flex;
}

#menu > li {
  padding-left: 1rem;
}

.nav-toggle-label {
  display: none;
}

/* Main content */
main {

/* Push the main content down to accomodate the larger header */
  margin-top: 79px;
}
    
/* Hero content */
.homepage-content  {
  width: auto;
  height: 100vh;
}


/* Services section */
#products-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#services-hero {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#product-column > div, #services-column > div{
  width: 75%;
}
  
/* Social Media */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: #ffff;
}
#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #FFFFFF;
}

#communication-row {
    column-count: 3;
}

.bottom-nav-row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
}
.bottom-nav-row a i{
  margin:0% 3%;
}
.services-column {
  columns: 2;
  column-gap: 3rem;
}
}


/* Larger devices (laptops & desktops) larger (992px and up) */
@media screen and (min-width: 992px) {
#menu a:hover{
  background-color: #003135;
  border-bottom: 1px solid;
}

#footertext  {
  padding: 16px;
  font: 10px / 1.5 Lato, sans-serif;
  text-align: center;
  color: #FFFFFF;
}

#footerblockcolor {
  position: relative; 
  width:100%;
  margin:0 auto;
  z-index: -1;
  background-size: cover;
}

body {
  font-size: 19px;
}

#communication-row{
  column-count: 4;
} 

/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  color: #ffff;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #ffff;
}

.homepage-content {
  max-width: 100%;
}

.hero-image img {
  object-fit: cover;
}
.services-column {
  columns: 3;
  column-gap: 2rem;
}
}
      
/* Larger devices (laptops & desktops) larger (1,200px and up) */
@media screen and (min-width: 1200px) {
#comms-options {
display: flex;
flex-direction: row;
}

#communication > div {
flex: 1;
}
#googlemap {
  align-self: flex-end;
} 

body {
  font-size: 20px;
}
#hero-content {
max-width: 100%;
}

.hero-image img {
  object-fit: cover;
}
.services-column {
  columns: 3;
  column-gap: 2rem;
}
}

